* {text-align: center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

section {background-color: blanchedalmond;}

body {background-color: blanchedalmond;}

img {width: 300px; height: 500px; border: solid salmon 17px;}

h1 {margin-top: 25px;}

footer {position: absolute; bottom: 0px; left: 770px;}

.nav-bar {position: fixed; right: 0px; top: 0px; background-color:aquamarine}